Dockerfile
.dockerignore
node_modules
npm-debug.log
README.md
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.next
out
dist
build
.git
.gitignore
.gitattributes
.vscode
.idea
*.log
coverage
.nyc_output
.cache
.parcel-cache
.DS_Store
*.tgz
*.tar.gz
.playground
.vercel
technical_reference
docs